.text {
	font-size: 1.6rem;

	@media (width <= 599px) {
		font-size: 1.4rem;
	}
}

.text--align-center {
	text-align: center;
}

.text--align-right {
	text-align: right;
}

/* 修飾系 */
.is-bold {
	font-weight: 700;
}
.is-italic {
	font-style: italic;
}
.is-underline {
	text-decoration: underline;
}
.is-strike {
	text-decoration: line-through;
}

.is-mosaic {
	filter: blur(2px);
	image-rendering: pixelated;
	backdrop-filter: blur(5px);
}

/* 状態系 */
.text--variant-lead {
	font-size: 2rem;
}
.text--variant-small {
	font-size: 1.2rem;
}
.text--variant-muted {
	opacity: 0.6;
}
