html {
	font-size: 62.5%;
}

:root {
	font-size: 1.8rem;
	line-height: 145%;

	@media (width <= 1024px) {
		font-size: 1.6rem;
	}
}

body {
	margin: 0;
	font-size: 1rem;
}

main {
  width: 90%;
  max-width: 120rem; 
  margin: 0 auto;
  padding: 2rem 0;
}