.link-text {
	font-size: 1.6rem;
	cursor: pointer;
	padding-bottom: 2px;
	text-decoration: none;
	display: flex;
	align-items: center;
	gap: 0.6rem;

	@media (width <= 599px) {
		font-size: 1.4rem;
	}
}

.link-text--align-center {
	justify-content: center;
}

.link-text--align-right {
	justify-content: end;
}

.link-text__icon {
	display: inline-block;
	margin-top: 0.2rem;
	width: 1em;
	height: 1em;
	background-color: currentColor;
	mask-image: url(../../assets/blank-icon.svg);
	mask-size: contain;
	mask-repeat: no-repeat;
	transition: background-color 0.3s ease;
}

/* ホバー時の挙動 */
.link-text:hover {
	color: #007bff;
	text-decoration-line: underline;
}
