.stack {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;

	@media (width <= 599px) {
		gap: 1.8rem;
	}
}

.stack--lg {
	gap: 3.2rem;

	@media (width <= 599px) {
		gap: 2.4rem;
	}
}

.stack--sm {
	gap: 1.6rem;

	@media (width <= 599px) {
		gap: 0.8rem;
	}
}
